<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeBox</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>AnimeBox</h1>
        <img src="allinone.jpg" alt="naruto">
    </div>
        <div class="Images">
            <img src="Naruto.jpg" alt="Naruto">
            <img src="DemonSlayer.jpeg" alt="Naruto">
            <img src="Haikyuu.jpg" alt="Naruto">
            <img src="Kuroku.jpg" alt="Naruto">
            <img src="OnePeice.jpg" alt="OnePeice">
            <hr>
        </div>

    <form  class ="searchBtn"action="/anime"method="GET">
        <input type="text" placeholder="Search...." name="search">
        <button type="submit">Search</button>
    </form>
    
</body>
</html>