/* div {
  width: 300px;
  border: 5px solid green;
  padding: 50px;
  margin: 20px;
} */
.ejs {
  display: flex;
  flex-wrap: wrap;
}
.oneAnime {
  width: 20%;
  margin: 16px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}
